#email-neutron-pos {background:#e51068; clear:left; font:14px Helvetica,Arial,sans-serif;  max-width:600px; min-height: 375px;}
#email-neutron-pos 
form {
    display:block; position:relative; text-align:left; margin: 20px
}
#email-neutron-pos 
h2 {
    color: #FFFFFF!important; font-weight:bold; font-size:1.4em; padding: 1%; border-width: 0; margin: 0;
}
#email-neutron-pos h4 {
    color: #FFFFFF!important; font-weight:bold;font-size:1.2em; padding: 1%; border-width: 0; margin: 0 0 5px;
}
#email-neutron-pos button {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#email-neutron-pos button:focus {border-color:#333;}
#email-neutron-pos input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#email-neutron-pos input:focus {border-color:#333;}
#email-neutron-pos .button 
{
    color: #FFFFFF; 
    border-width: 0px; 
    background-color: #0C71C3; 
    border: 2px solid transparent; 
    border-radius:11px; 
    font-size:20px; 
    font-weight: bold; 
    min-height: 50px; 
    line-height: 32px; 
    text-align: center; 
    vertical-align: top;  
    width: 96%; 
    margin:0 0 15px;
    transition: all 0.5s;
}

#email-neutron-pos .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
#email-neutron-pos .button:after {
    color: #FFFFFF; 
    content: '>>';
    position: relative;
    opacity: 0;  
    right: 15px;
    transition: 0.5s;
}
#email-neutron-pos .button:hover 
{ 
    padding-right: 24px;
    padding-left:8px;
}
#email-neutron-pos .button:hover:after {
    vertical-align: top; 
    opacity: 1;
    right: -20px;
  }
#email-neutron-pos .small-meta {font-size: 11px;}
#email-neutron-pos .nowrap {white-space:nowrap;}

#email-neutron-pos .email-neutron-pos-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px; display:grid;}
#email-neutron-pos .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #email-neutron-pos .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#email-neutron-pos .email-neutron-pos-field-group label {display:block; margin-bottom:3px;}
#email-neutron-pos .email-neutron-pos-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#email-neutron-pos .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#email-neutron-pos .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}     
#email-neutron-pos .clear {clear:both;}
#email-neutron-pos .foot {display:grid; grid-template-columns: 3fr 1fr; width:96%; align-items: center;}
@media screen and (max-width:400px) {#email-neutron-pos .foot {display:grid; grid-template-columns: 1fr; width:100%; align-items: center;}}
@media screen and (max-width:400px) {#email-neutron-pos .referralBadge {width:50%;}}
#email-neutron-pos .brandingLogo {justify-self:right;}
@media screen and (max-width:400px) {#email-neutron-pos .brandingLogo {justify-self:left;}}
#email-neutron-pos .email-neutron-pos-field-group.input-group input {display:inline; width:auto; border:none;}
#email-neutron-pos div#email-neutron-pos-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; clear: both;}
#email-neutron-pos div.response {margin:1em 0 em; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%; display: inline; }
#email-neutron-pos #email-neutron-pos-error-response {display:none;}
#email-neutron-pos #email-neutron-pos-error-email {display:none;}
#email-neutron-pos #email-neutron-pos-success-response {color:#ffffff; display:none;}
#email-neutron-pos label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0 2em; color:rgb(255, 251, 0); font-weight:bold; min-height: 50px;}
#email-neutron-pos .helper_text {color: #8d8985; margin-top: 2px; display: inline-block; padding: 3px; background-color: rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; font-weight: normal; z-index: 1;}
#email-neutron-pos-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#email-neutron-pos #email-neutron-pos-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:3px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#email-neutron-pos #email-neutron-pos-form input.mce_inline_error {border:2px solid #e85c41;}

#email-neutron-pos .buttonload {
    display:none;
    color: #FFFFFF; 
    border-width: 0px; 
    background-color: #8fa6b9; 
    border: 2px solid transparent; 
    border-radius:11px; 
    font-size:20px; 
    font-weight: bold; 
    min-height: 50px; 
    line-height: 32px; 
    text-align: center; 
    vertical-align: top;  
    width: 96%; 
    margin:0 0 15px;
    transition: all 0.5s;
}

/* Add a right margin to each icon */
#email-neutron-pos .fa {
  margin-left: -12px;
  margin-right: 8px;
}